/Atv. 1 - Lista de exercícios/ex01/nbproject/private/
/Atv. 1 - Lista de exercícios/ex01/build/
/Atv. 1 - Lista de exercícios/ex02/nbproject/private/
/Atv. 1 - Lista de exercícios/ex02/build/
/Atv. 1 - Lista de exercícios/ex03/nbproject/private/
/Atv. 1 - Lista de exercícios/ex03/build/
/Atv. 1 - Lista de exercícios/ex04/nbproject/private/
/Atv. 1 - Lista de exercícios/ex04/build/
/Atv. 1 - Lista de exercícios/ex05/nbproject/private/
/Atv. 1 - Lista de exercícios/ex05/build/
/Atv. 1 - Lista de exercícios/ex06/nbproject/private/
/Atv. 1 - Lista de exercícios/ex06/build/
/Atv. 1 - Lista de exercícios/ex07/nbproject/private/
/Atv. 1 - Lista de exercícios/ex07/build/
/Atv. 1 - Lista de exercícios/ex08/nbproject/private/
/Atv. 1 - Lista de exercícios/ex08/build/
/Atv. 1 - Lista de exercícios/ex09/nbproject/private/
/Atv. 1 - Lista de exercícios/ex09/build/
/Atv. 1 - Lista de exercícios/ex10/nbproject/private/
/Atv. 1 - Lista de exercícios/ex10/build/
/Atv. 1 - Lista de exercícios/ex11/nbproject/private/
/Atv. 1 - Lista de exercícios/ex11/build/
/Atv. 1 - Lista de exercícios/ex12/nbproject/private/
/Atv. 1 - Lista de exercícios/ex12/build/
